@blue-dark: #393e66;

.scroll,
body {
  --thumb-color:#c1c1d3;
  --thumb-color-hover:#9f9fac;
  --track-color: transparent;
  --scroll-size: 8px;
  --scroll-radius: 20px;
  --display:block;
}

.scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  background: #fafbfc;
  display: var(--display);
  width: var(--scroll-size);
  height: var(--scroll-size)
}

.scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border-radius: var(--scroll-radius)
}

.scroll::-webkit-scrollbar-thumb:active,
.scroll::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active,
body::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-color-hover)
}

.scroll::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: var(--track-color);
  border-radius: var(--scroll-radius)
}

h1 {
  font-weight: 700!important;
  color: @blue-dark !important;
  font-size: 3em!important;
  line-height: 1 !important;
}

p {
  font-size: 16px;
  color: rgba(0,0,0,.5);
}

.ant-input,
.ant-input-affix-wrapper,
.ant-select > .ant-select-selector{
  width: 100% !important;
  background: rgba(249, 249, 249, 0.8) !important;
  border-radius: 30px !important;
}