@import 'theme.less';

.container-head-home{
    background-color: #252429;
    padding: 25px 0px;
    h1{
        color: @primary-color;
        text-align: center;
        font-family: 'Amaranth', sans-serif;
        padding: 20px;
        font-size: 33px;
    }
    p{
        color: #fff;
        font-family: 'IBM Plex Serif', serif;
        font-size: 17px;
        padding: 10px;
    }
    img{
        height: 40px;
    }
    .etiquetas{
        padding: 5px 15px;
    }
}

.estatico{
    text-align: center;
    padding: 20px 0px;
}

.estadisticas_provincias{
    text-align: center;
    h2{
        color: @primary-color;
        text-align: center;
        font-family: 'Amaranth', sans-serif;
    }
    .fila_estadistica{
        padding:  20px 0px;
        span{
            font-weight: bold;
            font-family: 'IBM Plex Serif', serif;   
        }
    }
}

.busqueda{
    padding: 60px 0px;
    .etiquetas_detalles_p_c{
        padding: 10px 5px;
        #tag{
            margin: 5px;
        }
    }
}

.pildoras{
    position: relative;
    top: 40px;
}

.identificar{
    background-color: royalblue;
}