@import "../theme.less";

.Admin{
  h1 {
    font-weight: 700!important;
    color: @blue-dark !important;
    font-size: 3em!important;
    line-height: 1 !important;
  }
  p {
    font-size: 16px;
    color: rgba(0,0,0,.5);
  }
  .ant-input,
  .ant-input-affix-wrapper,
  .ant-select > .ant-select-selector{
    width: 100% !important;
    background: rgba(249, 249, 249, 0.8) !important;
    border-radius: 30px !important;
  }
  .titleBoard{
    color: #fff;
    font-size: 20px;
  }
  .ant-upload-drag {
    width: 100%;
    min-height: 200px !important;
    max-height: 300px !important;
    overflow: hidden;
    position: relative;
    .uploadingImageIn{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .ant-upload-btn{
      min-height: 200px !important;
      padding: 0 !important;
      img{
        width: 100%;
      }
    }
  }
  .ant-upload-list-item {
    display: none;
  }
}